body,
html {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

@import "tailwindcss";

#particles-js
{
	z-index: -20;
	position: absolute;
	width: 100dvw;
	height: 100dvh;
}	


.splash {
	background-image: linear-gradient(#6b078c,#402d5a);
/*	background-color: #402d5a;*/
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 2000;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;

}

.splash-title
{
    font-family: "Charm";
    font-size: 2rem;
    font-weight: 700;
    color: white;
}
.splash-strap
{
    color: white;
    padding-top: 1dvh;
}
.splash-box
{
    height: 70dvh;
    width: 304px;
    max-width: 90%;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.splash-box > h1 {
	font-size: 34px;
	font-weight: 700;
	padding: 0;
	margin: 0;
	color: white;
}

.splash-highlight {
	color: #6ae5e0;
    font-family: "Charm"
}

.zcomponent-launched .splash {
	display: none;
}
#ContactsButton
{
    margin-top: 4dvh;
    font-weight: 700;
    border: none;
    width: 150px;
    aspect-ratio:2.2;
    border-radius: 2dvh;
    background: rgb(210,210,210);
    color: black;
}
#launchButton
{
	padding: 0;
    display:block;
	margin-top: 30px;
	background: none;
	border: none;
	width: 95px;
	aspect-ratio: 1;
}

#launchButton:disabled {
	background: none;
	background-color: none;
	width: 48px;
	visibility: hidden;
	padding: 0px;
}

.startButton
{
	width: 100%;
	height: 100%;
}

#launchButton:disabled:before {
	content: ' ';
	visibility: visible;
	display: block;
	width: 48px;
	height: 48px;
	margin: 0px;
	border-radius: 50%;
	box-sizing: border-box;
	border: 5px solid #fff;
	border-color: #fff transparent #fff transparent;
	animation: loading-animation 1.2s linear infinite;
}


@keyframes loading-animation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#zcomponent-defaultloader-progress
{
	background-color: black !important;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
}
#zcomponent-defaultloader-progress-percentage
{
	background-color: white !important;
}

#zcomponent-defaultloader-title
{
	font-family: "Charm";
}
.zcomponent-defaultloader
{
	background-color: none !important;
	background-image: linear-gradient(#6b078c,#402d5a);
}
.portrait-Holder
{
	border: 4px solid white;
	width: 40dvw;
	max-width: 320px;
	aspect-ratio: 1;
	border-radius: 20%;
}
.portrait
{
	width: 100%;
	height: 100%;
	border-radius: 20%;
}

